.add-order__container {
  display: flex;
  flex-direction: column;

  margin-left: 36px;
  margin-top: 32px;
  width: 200px;
}

.add-order__title {
  font-size: 16px;
  margin-bottom: 32px;
}

.add-order__input {
  width: 200px;
  box-sizing: border-box;
  height: 28px;
  margin-bottom: 24px;
  border: none;
}

.add-order__button {
  border: none;
  padding: 8px 16px;
  background-color: #d2d2d2;
  cursor: pointer;
}

.add-order__button:hover,
.add-order__button:focus {
  background-color: #c0c0c0;
}

.add-order__button:active {
  background-color: #d2d2d2;
}
