.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  box-sizing: border-box;
  width: 356px;
  height: 224px;
  padding: 36px;

  background-color: #dcbcbc;
  border: 2px solid #9c0a0a;
}

.modal__title {
  font-size: 14px;
  font-weight: 400;
}

.modal__button-wrapper {
  display: flex;
  width: 210px;
}

.modal__button {
  margin: 0 auto;
  box-sizing: border-box;
  min-width: 78px;
  padding: 4px 8px;

  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__button:hover {
  background-color: #f2f2f2;
}

.modal__button:active {
  background-color: #ffffff;
}
