.login-page__container {
  padding: 170px 50px;
}

.login-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;

  box-sizing: border-box;
  width: 344px;
  min-height: 245px;
  padding: 56px 38px 70px 38px;

  background-color: #d9d9d9;
}

.login-form__interactive {
  background-color: #ffffff;
  border: none;
  padding: 10px;
}

.login-form__button {
  align-self: center;
  min-width: 104px;

  cursor: pointer;
}

.login-form__button:hover {
  background-color: #f0f0f0;
}

.login-form__button:active {
  background-color: #ffffff;
}

.error-message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;

  width: 80%;

  text-align: center;
  color: #d60f0f;
}
